---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">

  <!-- Alpine.js -->
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script> 


  

</head>
<body>

  <script>
    let name = ['Zeus', 'Hera', 'Poseidon', 'Athena', 'Apollo', 'Artemis', 'Aphrodite', 'Hermes', 'Ares', 'Hades'];
    randomItem = name[Math.floor(Math.random() * name.length)];
    
  </script>

  <!-- Button Code -->
  <div x-data="{ open: false }">
    <button class="styled-button" @click="open = true">Random Greek Name</button>

    <h2 x-show="open">You've gotten</h1>
    <h1 x-show="open" x-text="randomItem"></h1>
  </div>


</body>
</html>