body {
    font-family: Helvetica, sans-serif;
    background: #cce2f5;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center; height: 100vh;
}

h1 {
    color: rgb(73, 14, 92);
    letter-spacing: -2px;
}

.styled-button {
    font-family: Georgia;
    font-size: 50px;

    padding: 5px;

    color: #6B3A55;
    background: #F3EFE6;

    border: 2px solid #9e6e88;
    border-radius: 4px;

    cursor: pointer;
}

.styled-button:hover {
    border:2px dashed #9e6e88;
}